body {
	font-family: arial;
	margin: 0;
}

header {
	background-color: black;
	color: white;
}

h1 {
	background-color: black;
}

main {
	text-align: center;
	margin: 0 auto;
	max-width: 700px;
	list-style-type: none;
}