body {
	font-family: arial;
	margin: 0;
	border: 2px;
	border-color: grey;
}

header {
	background-color: black;
	color: white;
	border: 2px;
	border-color: grey;
}

h1 {
	background-color: black;
	border: 2px;
	border-color: grey;
}

main {
	text-align: center;
	margin: 0 auto;
	max-width: 700px;
	list-style-type: none;
	border: 2px;
	border-color: grey;
}

.about {
	border: 2px;
	border-color: grey;
}

p {
	border: 2px;
	border-color: grey;
}

ul {
	border: 2px;
	border-color: grey;
}

li {
	border: 2px;
	border-color: grey;
}





